.statisticContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
}

.text {
    color: var(--subdued);
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.value {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 36px;
}