.destinationsGrids {
    display: flex;
    gap: 2rem;
    height: 400px;
    margin-top: 3.5rem;
}

.destinationsGrid {
    display: flex;
    height: 275px;
    gap: 2rem;
}

.gridsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gridSecondRow {
    width: 100%;
    align-items: stretch;
}

.destination :first-child{
    width: 275px;
}