:root {
    --blue: #051036;
    --light-font: #5F6680;
    --pink: #FC5056;
    --dark-pink: #E84E53;
    --white: #FFFFFF;
    --ligth-gray: #F7F8FA;
    --gray: #E0E1E6;
    --dark-gray: #C7CAD1;
    --black: #111111;
}