.averageReviewsContainer {
    display: flex;
    width: auto;
    height: 100%;
    gap: 2rem;
    background-color: var(--ligth-gray);
    padding: 2rem;
}

.averageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0rem;
    gap: 0.8rem;
    background-color: var(--pink);
    color: var(--white);
}

.average {
    font-family: 'Work Sans', sans-serif;
    font-size: 54px;
    font-weight: 600;
}

.averageRow {
    display: flex;
}

.starIcon {
    width: 1rem;
    height: 1rem;
}

.averageDescription {
    font-size: 1rem;
    font-weight: 300;
}

.criterionsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0rem;
}

.criterions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}