.homeContent {
    display: flex;
    flex-direction: column;
}

.mainImg {
    width: 100%;
}

.searchCard {
    position: absolute;
    z-index: 999;
    top: 580px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    color: var(--white);
    align-items: center;
    gap: 0.5rem;
}

.mainTitle {
    color: var(--pink);
    font-size: 34px;
    font-family: 'Kaushan Script', sans-serif;
}

.mainSubtitle {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.mainDescription {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.tourSection {
    margin-top: 9rem;
    margin-bottom: 4rem;
    padding: 0rem 8rem;
}

.sectionHeader {
    margin-bottom: 3rem;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.line {
    height: 1px;
    width: 82%;
    align-self: center;
    background-color: var(--gray);
}

.statistics {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 8rem;
}

.destinations {
    background-color: var(--ligth-gray);
    padding: 100px 8rem;
}

.destinationsGrids {
    display: flex;
    gap: 2rem;
    height: 400px;
    margin-top: 3.5rem;
}

.destinationsGrid {
    display: flex;
    height: 275px;
    gap: 2rem;
}

.gridsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gridSecondRow {
    width: 100%;
    align-items: stretch;
}

.destination :first-child{
    width: 275px;
}

.chooseUs {
    display: flex;
    padding: 95px 10rem 80px 10rem;
    justify-content: space-between;
    align-items: center;
}

.chooseUsContent {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 1.5rem;
}

.chooseUsHeader :nth-child(2) {
    line-height: 45px;
}

.chooseUsHeader :first-child :first-child {
    display: none;
}

.chooseUsHeader :first-child {
    width: 100%;
}

.chooseUsText {
    width: 80%;
    color: var(--body);
    font-size: 14px;
    line-height: 1.8rem;
}

.watchNow {
    width: 100%;
    height: 520px;
}

.checks {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
}

.checks p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.checksRow {
    display: flex;
    gap: 2rem;
}

.contactUsButton {
    background-color: transparent;
    border: 1px solid var(--blue);
    font-family: 'Inter';
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 8px;
    width: 40%;
    font-size: 14px;
    cursor: pointer;
}

.contactUsButton:hover {
    background-color: var(--blue);
    color: var(--white);
}

.type {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 75px 8rem 100px 8rem;
}

.typeCards {
    display: flex;
    justify-content: space-between;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    background-color: var(--ligth-gray);
}

.testimonialsImage {
    height: 440px;
    width: 350px;
}

.testimonialsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding-bottom: 5rem;
}

.updates {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px 0rem;
}

.postRow {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.postColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.updatesHeader {
    margin-bottom: 4rem;
}

.travelIcons {
    display: flex;
    justify-content: space-between;
    background-color: var(--ligth-gray);
    padding: 50px 175px;
}

.travelIcon1 {
    height: 70px;
    width: 85px;
}

.travelIcon2 {
    height: 50px;
    width: 105px;
}

.travelIcon3 {
    height: 55px;
    width: 115px;
}

.travelIcon4 {
    height: 68px;
    width: 48px;
}

.travelIcon5 {
    height: 55px;
    width: 90px;
}