.mainSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgHeader{
    width: 100%;
}

.titleSection {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: var(--white);
    position: absolute;
    top: 30%;
    text-align: center;
}

.mainTitle {
    font-size: 56px;
}

.titleSection a {
    text-decoration: none;
    color: var(--white);
}

.titleSection .tourLink{
    color: var(--pink);
}

.searchCard {
    position: absolute;
    bottom: -50px;
}

.mainContent {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    margin-top: 8rem;
}

.toursContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 62%;
    margin-top: 2.5rem;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}