.button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0.7rem;
    font-size: 15px;
    cursor: pointer;
    transition: 300ms;
}

.button:hover {
    background-color: var(--dark-pink);
}