.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 325px;
    gap: 20px;
}

.title {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    color: var(--pink);
    margin-bottom: 0.5rem;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--gray);
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: var(--blue);
}