.formContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--ligth-gray);
    width: auto;
    padding: 1.5rem;
    gap: 2rem;
}

.title {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.ratingInputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.formRow {
    display: flex;
    gap: 2rem;
}

.form input {
    width: 100%;
}

.formInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formInputs input,
.formInputs textarea {
    border: none;
    font-size: 1rem;
    padding: 1.2rem;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    color: var(--blue);
    transition: 300ms;
}

.formInputs input::placeholder,
.formInputs textarea::placeholder{
    color: var(--hints);
}

.formInputs textarea{
    height: 80px;
    resize: none;
}

.formInputs Button {
    height: 55px;
    width: 25%;
    font-size: 1rem;
}

.formInputs textarea:hover,
.formInputs input:hover{
    background-color: var(--gray);
}