.star {
    cursor: pointer;
    font-size: 26px;
    color: var(--dark-gray);
}

.star:hover {
    color: var(--pink);
}
  
.star.selected {
    color: var(--pink);
    transition: 300ms;
}

.criterion {
    font-size: 14px;
    margin-bottom: 0.4rem;
}